.notas-form .title {
    color: #0c098e;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2px;
    font-size: 15px;
    letter-spacing: -0.02em;
    text-align: left;
}



.notas-form .pagination {
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.notas-form #pagina1 {
    color: #0C098E;
    padding: 0.25rem;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
}

.notas-form #pagina2 {
    color: #35353a;
    padding: 0.25rem;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    border: none;
    background-color: transparent;
    width: fit-content;
}

.notas-form #pagina3 {
    color: #35353a;
    padding: 0.25rem;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    border: none;
    background-color: transparent;
    width: fit-content;
}



.notas-form .tableValues {
    border: none;
}

.notas-form .linhaTabela {
    border: none;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.notas-form .classes {
    padding: 1rem;
    display: flex;
}


.notas-form .titlepesquisarturmas {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.notas-form .barradepesquisa {
    position: absolute;
    display: inline-block;
}

.notas-form .search-bar {
    width: 519px;
    height: 45px;
    top: 173px;
    left: 426px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 12px;
    font-size: 15px;
    padding-right: 50px;
    outline: none;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    border: 2px solid #D9D9D9
}

.notas-form .search-btn {
    position: relative;
    bottom: 2px;
    left: -35px;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.notas-form .search-icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-color: transparent;
}

.notas-form .linhadivisora {
    margin-top: 50px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    width: 90%;
}

.notas-form #tabelamateria {
    border-collapse: separate;
    border-spacing: 10px;
    position: relative;
    top: -55px;
    width: 90%;
}

.notas-form .fileira1 {
    background-color: #0C098E;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 320px;
    height: 15px;
    opacity: 0px;
    border-radius: 2px;
    text-align: center;
    padding: 20px;

}

.notas-form .fileira2 {
    background-color: #0C098E;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 130px;
    height: 15px;
    border-radius: 2px;
    opacity: 0px;
    text-align: center;
    padding: 20px;

}

.notas-form .fileira3 {
    background-color: #0C098E;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 2px;
    opacity: 0px;
    border-radius: 2px;
    text-align: center;
    padding: 20px;
    width: 130px;
    height: 15px;
}

.notas-form .fileira4 {
    background-color: #0C098E;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    border-radius: 2px;
    text-align: center;
    padding: 20px;
    width: 175px;
    height: 15px;
}

.notas-form td {
    background-color: #D9D9D9;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.notas-form .nomealuno {
    text-align: justify;
    padding: 20px;
}

.notas-form .notaprova {
    background-color: white;
    border: 2px solid #c0c0c0;
}

.notas-form .notaatividade {
    background-color: white;
    border: 2px solid #c0c0c0;
}

.notas-form .observacoes {
    background-color: white;
    border: 2px solid #c0c0c0;
}

.notas-form .nomemateria {
    color: #0C098E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 35px;
    margin-left: 37px;
    letter-spacing: -0.02em;
    text-align: left;
}


.notas-form .anomateria {
    color: #0C098E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-left: 37px;
    letter-spacing: -0.02em;
    text-align: left;
}

.notas-form .nomeprofessor {
    color: #0C098E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 2px;
    margin-left: 37px;
    letter-spacing: -0.02em;
    text-align: left;
}

.notas-form .data {
    color: #0C098E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    letter-spacing: -0.02em;
    text-align: right;
    margin-right: 160px;
    position: relative;
    top: -35px;
}

.notas-form .botaosavecancell {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
    top: -10px;
}

.notas-form #botaocancelar {
    color: white;
    background-color: #676767;
    border-radius: 10px;
    width: 166px;
    height: 42px;
    opacity: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    border: none;
    line-height: inherit;
    margin-right: 10px;
    cursor: pointer;
}

.notas-form #botaosalvar {
    color: white;
    background-color: #0C098E;
    border-radius: 10px;
    width: 166px;
    height: 42px;
    opacity: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    border: none;
    line-height: inherit;
    cursor: pointer;
}

.notas-form .listadeturmas {
    color: white;
    background-color: #0C098E;
    border-radius: 10px;
    width: 166px;
    height: 42px;
    opacity: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
    border: none;
    cursor: pointer;
    float: right;
}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.blink {
    animation: blink 0.5s linear 3; /* Pisca 3 vezes */
}