#linha {
    width: 950px;
    border-bottom: 1px solid black;
    padding: 10px;
}

h2 {
    padding: 10px;
}

.cpfInput {
    border: none;
    width: 400px;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 40px;
    display: inline-block;
    box-shadow: 2px 2px 5px rgba(0, 0, 0.2);
}

#nomeAluno {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    font-weight: bold;
    border-top: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;    
}

#anoLetivo {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
    font-weight: bold;
    border-top: 10px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

<<<<<<< HEAD
/* .card_boletim_aluno {
    display: none;
}
*/
=======
#bodyCard {
    display: none;
}
>>>>>>> 34fd6659bc27d4706ce9a59939c2778434ecd8c2

.cardTitulo {
    width: 22%;
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #0C098E;
    color: white;
    padding: 20px;
    margin: 10px;
    border-top: 10px;
}

.cardConteudoTurmas {

    width: 22%;
    display: inline-flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #D9D9D9;
    color: black;
    padding: 20px;
    margin: 10px;
    border-top: 10px;
}

.paginasBoletim {
    width: 100%;
    display: flex;
    margin-top: 10px;
    font-weight: bold;
    justify-content: center;
}

.emitirCertificado {
    width: 22%;
    display: inline-flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    background-color: #D9D9D9;
    padding: 10px;
    margin: 10px;
    border-top: 10px;
}

.search-btn {
    position: relative;
    bottom: 2px;
    left: -35px;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
 
.search-icon {
    height: 22px;
    vertical-align: middle;
    background-color: transparent;
}

#certificadoIndisponível {
    color:black;
    background-color: #9c9c9c;
}