.title {
    color: #0c098e;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 20px;
    font-size: 15px;
    letter-spacing: -0.02em;
    text-align: left;
}


.table {
    width: 100%;
    
}

.pagination {
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#pagina1 {
    color: #0C098E;
    padding: 0.25rem;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: fit-content;
}

#pagina2 {
    color: #35353a;
    padding: 0.25rem;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    border: none;
    background-color: transparent;
    width: fit-content;
}

#pagina3 {
    color: #35353a;
    padding: 0.25rem;
    font-weight: bold;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: solid;
    border: none;
    background-color: transparent;
    width: fit-content;
}



.tableValues {
    border: none;
}

.linhaTabela {
    border: none;
    display: flex; 
    flex-direction: row;
    margin-top: 1rem;
}

.classes {
    padding: 1rem;
    display: flex;
}

.titlepesquisarturmas {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}


.barradepesquisa {
    position: relative;
    display: inline-block;
}

.search-bar {
    width: 519px;
    height: 45px;
    top: 173px;
    left: 426px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 12px;
    font-size: 15px;
    padding-right: 50px;
    outline: none;
    border-radius: 10px;
    transition: border-color 0.3s ease;
    border: 2px solid #D9D9D9
}

.search-btn {
    position: relative;
    bottom: 2px;
    left: -35px;
    height: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.search-icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
    background-color: transparent;
}

.linhadivisora {
    margin-top: 15px;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}

.title2 {
    color: #000000;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: -0.02em;
    text-align: left;
}

.cardConteudoMateria {
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.02em;
    background-color: #D9D9D9;
    padding: 15px;
    width: 100%;
}

.cardConteudoAno {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    color: #000000;
    background-color: #D9D9D9;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
}

.cardConteudoResponsavel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    color: #000000;
    background-color: #D9D9D9;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
}

.botaoLancarNotas {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    background-color: #0C098E;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    padding: 10px;
    text-align: center;
    width: 166px;
    height: 40px;
    cursor: pointer;
}

.btnNotas {
    background-color: #D9D9D9;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

