.consultar-frequencia .consultar-frequencia-search-form {
    background-color: #fff;
    width: fit-content;
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 100%;
}

.consultar-frequencia .consultar-frequencia-search-form input {
    border: none;
    background: none;
    flex: 1;
    height: 30px;
    outline: none;
}
.consultar-frequencia .consultar-frequencia-search-form svg {
    font-size: 22px;
    color: var(--color-primary);
}

.consultar-frequencia .consultar-frequencia-search-form button {
    border: none;
    background: none;
}

.consultar-frequencia .lista-wrapper {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
} 
.consultar-frequencia .lista-mae {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: max-content;
    min-width: 100%;
} 

.consultar-frequencia .lista-filho {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    row-gap: 16px;
    padding: 16px;
    background-color: #D9D9D9;
    border-radius: 8px;
    align-items: center;
}

.consultar-frequencia .outrasPaginas {
    width: max-content;
    color: #9c9c9c;
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

.consultar-frequencia .icon {
    background-color: #DDD;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.consultar-frequencia .icon.icon-success {
    background-color: var(--color-success);
    color: #FFF;
}
.consultar-frequencia .icon.icon-danger {
    background-color: var(--color-error);
    color: #FFF;
}
.consultar-frequencia .icon.icon-warning {
    background-color: var(--color-warning);
    color: #FFF;
}