.btn {
    height:40px;
    padding: 0 10px;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    width: inherit fit-content;
    cursor: pointer;
}

.btn.btn-primary {
    background-color: var(--color-primary);
}
.btn.btn-danger {
    background-color: var(--color-error);
}
.btn.btn-success {
    background-color: var(--color-success);
}
.btn.btn-warning {
    background-color: var(--color-warning);
}

button:disabled {
    background-color: #DEDEDE !important;
    color: #444 !important;
    opacity: 0.9;
    cursor: not-allowed;
}